@media only screen and (max-width: 600px) {
    .menu {
        flex-direction: column;
        justify-content: space-around;
        height: auto;
        padding: 15px;
    }

    .menu .nav-links a {
        font-size: 12px;
        margin-right: 6px;
        padding-left: 0;
    }

    .menu h2 {
        margin-right: 60px;
        text-align: center;
    }

    .landing {
        flex-direction: column-reverse;
        height: auto;
        justify-content: center;
    }

    .landing-img {
        margin-top: 40px;
    }

    .contents h2 {
        font-size: 22px;
        margin: 0 !important;
        text-align: center;
    }

    .contents p {
        font-size: 16px;
        text-align: center;
    }

    .contents .btn2 {
        width: 80px;
        font-size: 14px;
        padding: 10px 10px;
        margin: 0 auto;
    }

    .about {
        flex-direction: column-reverse;
        justify-content: center;
        height: auto;
    }

    .about-contents h2 {
        font-size: 22px;
        text-align: center;
    }

    .about-contents p {
        font-size: 16px;
        line-height: 30px;
        text-align: center;
    }

    .about-img {
        padding: 20px;
    }

    .services {
        height: auto;
    }

    .services-header h2 {
        font-size: 22px;
    }

    .services-card {
        flex-direction: column;
        padding: 60px;
    }

    .services-card .card {
        margin-bottom: 80px;
        width: 300px;
    }

    .card-contents p {
        font-size: 16px;
    }

    .card-contents a {
        margin: 0 50px;
    }

    .info-card {
        flex: 100%;
        max-width: 500px;
    }

    .banner {
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }

    .banner-contents h2{
        font-size: 22px;
    }

    .banner-contents2 {
        font-size: 16px;
    }

    .footer {
        display: inline;
        text-align: center;
    }

    .copyright {
        margin-top: 80px;
    }

}

@media only screen and (min-width: 768px) {
    .menu h2 {
        padding-left: 30px;
    }

    .landing {
        height: auto;
    }

    .landing-img {
        margin-top: 40px;
    }

    .contents h2 {
        padding-top: 100px;
        margin-left: 20px;
    }

    .contents p {
        margin-left: 20px;
    }

    .contents .btn2 {
        margin-left: 20px;
    }

    .services {
        height: auto;
    }

    .services-header h2 {
        font-size: 25px;
    }

    .services-card {
        flex-direction: column;
        padding: 60px;
    }

    .services-card .card {
        margin-bottom: 80px;
        width: 450px;
    }

    .card-contents p {
        font-size: 20px;
    }

    .info-card {
        flex: 100%;
        max-width: 400px;
    }

    .banner {
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }

}
